%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f|
        %header
          %h1 Register
        %fieldset
          = f.alert_message "Please fix the error below"
          = f.email_field :email, label: "Email Address"
          = f.password_field :password
          = f.text_field :full_name, label: 'Full Name'
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset.actions.control-grouop
          .controls
            = f.submit 'Sign Up', class: 'col-sm-offset-2 btn btn-default'
            <form action="/charge" method="POST"><script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key=#{ENV['STRIPE_PUBLISHABLE_KEY']} data-name="Myflix Sign Up Charge" data-description="$9.9 to sign up the best video service" data-amount="999" data-locale="auto"></script></form>
